html {
    font-size: 62.5%;
    overflow-y: auto;
    box-sizing: border-box;
}

iframe>body{
    overflow: auto !important;
}
body {
    
    top: 0px !important; 
    padding: 0;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

main {
    margin: 0 auto 20px;
    max-width: 90%;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
}

h1 {
    text-align: center;
    font-size: 34px;
}

h2 {
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.btn {
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
    padding: 10px;
}

.btn:nth-of-type(n+2) {
    margin-left: 0;
}

.btn:nth-of-type(n+4) {
    margin-top: 10px;
}

.btn:first-child {
    margin-left: 0;
}

.weather {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.weather::-webkit-scrollbar {
    background: #aaa;
    width: 4px;
    height: 4px;
}

.weather::-webkit-scrollbar-thumb {
    background: rgb(30, 14, 68);
    height: 5px;
    border-radius: 50px;
}

.weather-container {
    width: 20%;
    margin: 0 20px;
}

.weather__size {
    width: 60%;
}

.weather__title {
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.weather__box {
    background: rgb(30, 14, 68);
}

.weather__text {
    font-size: 10px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
}

.weather__contents {
    margin: 0 auto;
    text-align: center;
}

.weather__city {
    font-size: 25px;
}

.info__item{
    margin-top:15px ;
}

.info__name {
    font-weight: bold;
}

footer {
    background: rgb(30, 14, 68);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
}
.lang-Choice{
    margin: 20px 0;
}

.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

@media (max-width: 768px) {
    h1 {
        font-size:10vw;
    }
    h2 {
        font-size: 7vw;
    }
    .btn {
        width: 45%;
        font-size: 3.3vw;
        padding: 5px;
    }
    .btn:nth-of-type(n+2) {
        margin-left: 0;
    }
    .btn:nth-of-type(n+3) {
        margin-top: 10px;
    }
    .weather__title {
        font-size: 3vw;
    }
}